body {
  font-size: 14px;
  min-width: 320px;
}

.main {
  padding: 1rem 0;
}

.info {
  margin-bottom: 1.25rem;
}

.username {
  color: #007bff;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1rem;
  font-weight: 300;
  color: #343a40;
  margin-bottom: 1rem;
}

.location {
  color: #6c757d;
  font-size: 0.875rem;
}

.contact {
  list-style: none;
  padding: 0;
}

.portfolio .headline {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.table-list tbody tr,
.table-list tbody tr th,
.table-list tbody tr td {
  display: block;
}

.table-list tbody tr.rowspan {
  margin-bottom: 0.15rem;
}

.table-list tbody tr:not(.rowspan):not(:last-child) {
  margin-bottom: 0.75rem;
}

.table-list tbody tr th,
.table-list tbody tr td {
  padding: 0;
}

.table-list tbody tr th {
  font-weight: bold;
  margin-bottom: 0.25rem;
  min-width: 135px;
  width: 135px;
}

.table-end {
  margin-bottom: 0;
}

@media (min-width: 480px) {
  .table-list tbody tr {
    display: table-row;
    margin-bottom: 0;
  }

  .table-list tbody tr th {
    font-weight: normal;
  }

  .table-list tbody tr th,
  .table-list tbody tr td {
    display: table-cell;
    padding: 0.2rem 0;
  }
}

@media (min-width: 576px) {
  .main {
    padding-top: 1.25rem;
  }
}
